body {
    background-image: url("v1008-25-a.jpg");
    background-size: 600px;
    font-family: Almarai; font-size: 20px;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bar {
    display: flex;
    justify-content: space-around;

    font-weight: bolder;
}

#pageTitle {
    color: rgb(181,4,72);
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    text-align: center;
    font-family: Bevan; font-size:70px;

    display: flex;
    justify-content: center;
}

.photos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.photos .x {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.container .photos .x img{
    width: 100%;
    padding-bottom: 15px;
}

#cred {
    font-size: 10px;
}

